[submodule "models/pytorch-object-detection"]
	path = models/pytorch-object-detection
	url = git@gitlab.bj.sensetime.com:platform/ParrotsDL/pytorch-object-detection.git
	branch = pat0.6/v2.2.3
[submodule "models/Light_Seg"]
	path = models/Light_Seg
	url = git@gitlab.bj.sensetime.com:xuchi/Light_Seg.git
[submodule "models/ssd.triondet"]
	path = models/ssd.triondet
	url = git@gitlab.sz.sensetime.com:wangxinjiang/ssd.triondet.git
[submodule "models/mmdetection-pro"]
	path = models/mmdetection-pro
	url = git@gitlab.bj.sensetime.com:platform/ParrotsDL/mmdetection-pro.git
[submodule "models/ssd"]
	path = models/ssd
	url = git@gitlab.bj.sensetime.com:liuguangyu/ssd.git
	branch = pat0.6
[submodule "models/alphatrion"]
	path = models/alphatrion
	url = git@gitlab.bj.sensetime.com:liuguangyu/alphatrion.git
	branch = pat0.6
[submodule "models/alphatrion_nas"]
	path = models/alphatrion_nas
	url = git@gitlab.sz.sensetime.com:wangshiguang/alphatrion_nas.git
	branch = pat0.6
[submodule "models/Light_Nas_zpzhang"]
	path = models/Light_Nas_zpzhang
	url = git@gitlab.bj.sensetime.com:wangshiguang/Light_Nas_zpzhang.git
	branch = pat0.6
[submodule "models/srdemo"]
	path = models/srdemo
	url = git@gitlab.bj.sensetime.com:luopeichao/srdemo.git
[submodule "tests/deploy/quantization/Famicom"]
	path = tests/deploy/quantization/Famicom
	url = git@gitlab.bj.sensetime.com:lizhouyang/Famicom.git
[submodule "models/springnas-lite"]
	path = models/springnas-lite
	url = git@gitlab.bj.sensetime.com:wangshiguang/springnas-lite.git
[submodule "mild"]
	path = models/mild
	url = git@gitlab.bj.sensetime.com:parrots_iv_face/mild.git
[submodule "models/Multi_organ_seg_HR"]
	path = models/Multi_organ_seg_HR
	url = git@gitlab.bj.sensetime.com:wuwenli1/Multi_organ_seg_HR.git
	branch = pat0.6
[submodule "models/mouth_inpaint_network"]
	path = models/mouth_inpaint_network
	url = git@gitlab.bj.sensetime.com:platform/ParrotsDL/user/mouth_inpaint_network.git
[submodule "models/parrots.example"]
	path = models/parrots.example
	url = git@gitlab.bj.sensetime.com:platform/ParrotsDL/parrots.example.git
