[submodule "models/pytorch-object-detection"]
	path = models/pytorch-object-detection
	url = git@gitlab.bj.sensetime.com:platform/ParrotsDL/pytorch-object-detection.git
[submodule "models/parrots.example"]
	path = models/parrots.example
	url = git@gitlab.bj.sensetime.com:platform/ParrotsDL/parrots.example.git
[submodule "models/Light_Seg"]
	path = models/Light_Seg
	url = git@gitlab.bj.sensetime.com:xuchi/Light_Seg.git
[submodule "models/ssd.triondet"]
	path = models/ssd.triondet
	url = git@gitlab.sz.sensetime.com:wangxinjiang/ssd.triondet.git
