[submodule "models/pytorch-object-detection"]
	path = models/pytorch-object-detection
	url = git@gitlab.bj.sensetime.com:platform/ParrotsDL/pytorch-object-detection.git
	branch = pat0.6/v2.2.3
[submodule "models/Light_Seg"]
	path = models/Light_Seg
	url = git@gitlab.bj.sensetime.com:platform/ParrotsDL/Light_Seg.git
[submodule "models/ssd.triondet"]
	path = models/ssd.triondet
	url = git@gitlab.sz.sensetime.com:wangxinjiang/ssd.triondet.git
[submodule "models/alphatrion"]
	path = models/alphatrion
	url = git@gitlab.bj.sensetime.com:parrotsmodel/liuguangyu_alphatrion.git
	branch = pat0.6
[submodule "models/alphatrion_nas"]
	path = models/alphatrion_nas
	url = git@gitlab.sz.sensetime.com:parrots.model/alphatrion_nas.git
	branch = pat0.6
[submodule "models/Light_Nas_zpzhang"]
	path = models/Light_Nas_zpzhang
	url = git@gitlab.bj.sensetime.com:parrotsmodel/Light_Nas_zpzhang.git
	branch = pat0.6
[submodule "models/srdemo"]
	path = models/srdemo
	url = git@gitlab.bj.sensetime.com:luopeichao/srdemo.git
[submodule "tests/deploy/quantization/Famicom"]
    path = tests/deploy/quantization/Famicom
    url = git@gitlab.bj.sensetime.com:lizhouyang/Famicom.git
[submodule "models/springnas-lite"]
	path = models/springnas-lite
	url = git@gitlab.bj.sensetime.com:wangshiguang/springnas-lite.git
[submodule "models/mouth_inpaint_network"]
	path = models/mouth_inpaint_network
	url = git@gitlab.bj.sensetime.com:platform/ParrotsDL/user/mouth_inpaint_network.git
[submodule "models/light_nas"]
	path = models/light_nas
	url = git@gitlab.bj.sensetime.com:parrotsmodel/hanyachao_light_nas.git
[submodule "models/mmsegmentation"]
	path = models/mmsegmentation
	url = git@gitlab.bj.sensetime.com:parrotsmodel/mmsegmentation.git
[submodule "models/STAR"]
	path = models/STAR
	url = git@gitlab.bj.sensetime.com:hanyachao/STAR.git
[submodule "models/pytorch-object-detection-v3.1.0"]
	path = models/pytorch-object-detection-v3.1.0
	url = git@gitlab.bj.sensetime.com:platform/ParrotsDL/Pytorch-Object-Detection.git
[submodule "models/pytorch-object-detection-v2.3.0"]
	path = models/pytorch-object-detection-v2.3.0
	url = git@gitlab.bj.sensetime.com:platform/ParrotsDL/pytorch-object-detection.git
[submodule "models/mmaction"]
	path = models/mmaction
	url = git@gitlab.sz.sensetime.com:parrots.model/mmaction2.git
[submodule "models/TextRecog"]
	path = models/TextRecog
	url = git@gitlab.bj.sensetime.com:parrotsmodel/TextRecog.git
[submodule "models/mmpose"]
	path = models/mmpose
	url = git@gitlab.bj.sensetime.com:parrotsmodel/hanyachao_mmpose.git
[submodule "models/mmdet"]
	path = models/mmdet
        url = git@gitlab.sz.sensetime.com:parrotsDL-sz/mmdetection.git
[submodule "models/Pattern"]
	path = models/Pattern
	url = git@gitlab.sh.sensetime.com:wuwenli1/Pattern.git
	branch = pattern0.3_pat_test
[submodule "models/instance_seg"]
	path = models/instance_seg
	url = git@gitlab.bj.sensetime.com:parrots.model/instance_seg_pytorch.git
[submodule "models/sketch"]
	path = models/sketch
	url = git@gitlab.bj.sensetime.com:parrots.model/sketch.git
[submodule "models/mmtrack"]
	path = models/mmtrack
	url = git@gitlab.bj.sensetime.com:parrots.model/mmtrack.git
[submodule "models/parrots.example"]
	path = models/parrots.example
	url = https://github.com/ParrotsDL/parrots.example.git
	branch = camb_example
[submodule "models/RetinaUnet"]
	path = models/RetinaUnet
	url = git@gitlab.bj.sensetime.com:parrots.model/retinaunet.git
[submodule "models/pytorch-object-detection-v3.0"]
	path = models/pytorch-object-detection-v3.0
	url = git@gitlab.bj.sensetime.com:parrots.model/mapdet.git
	branch = pod3.0_GL
[submodule "models/prototype"]
	path = models/prototype
	url = git@gitlab.bj.sensetime.com:parrots.model/prototype.git
[submodule "models/sensemedical"]
    path = models/sensemedical
    url = git@gitlab.bj.sensetime.com:parrots.model/sensemedical.git
[submodule "models/sr_v3.0"]
	path = models/sr_v3.0
	url = git@gitlab.bj.sensetime.com:parrots.model/sr_v3.0.git
[submodule "models/3ddet"]
	path = models/3ddet
	url = git@gitlab.hk.sensetime.com:parrots.model/PointCloudDet3D.git
[submodule "models/detr"]
    path = models/detr
    url = git@gitlab.sh.sensetime.com:parrots.model/detr.git
[submodule "models/heart_seg"]
	path = models/heart_seg
	url = git@gitlab.bj.sensetime.com:parrots.model/medai_mmwhs_xq.git
[submodule "models/SenseStar"]
	path = models/SenseStar
	url = git@gitlab.bj.sensetime.com:parrotsmodel/SenseStar.git
[submodule "models/coronary_seg"]
	path = models/coronary_seg
	url = git@gitlab.bj.sensetime.com:parrots.model/coronary-seg.git
[submodule "models/mmdetection3d"]
	path = models/mmdetection3d
	url = git@gitlab.bj.sensetime.com:parrots.model/mmdetection3d.git
[submodule "models/pattern_v2_5_sp"]
	path = models/pattern_v2_5_sp
	url = git@gitlab.bj.sensetime.com:parrots.model/pattern_v2.5_sp.git
[submodule "models/deformable_detr"]
	path = models/deformable_detr
	url = git@gitlab.bj.sensetime.com:parrotsmodel/detr_dev.git
[submodule "models/Multi_organ_seg_HR"]
	path = models/Multi_organ_seg_HR
	url = git@gitlab.bj.sensetime.com:parrotsmodel/Multi_organ_seg_HR.git
[submodule "models/mmocr"]
	path = models/mmocr
	url = git@gitlab.sz.sensetime.com:parrots.model/mmocr.git
[submodule "models/PAR"]
	path = models/PAR
	url = git@gitlab.bj.sensetime.com:parrots.model/par.git
[submodule "models/Crowd"]
	path = models/Crowd
	url = git@gitlab.bj.sensetime.com:parrotsmodel/Crowd.git
[submodule "models/ssd"]
	path = models/ssd
	url = git@gitlab.bj.sensetime.com:parrotsmodel/liuguangyu_ssd.git
	branch = pat0.6
[submodule "models/mmediting"]
	path = models/mmediting
	url = git@gitlab.sz.sensetime.com:parrots.model/mmediting.git
	branch = autotest
[submodule "models/springce_psot"]
	path = models/springce_psot
	url = git@gitlab.bj.sensetime.com:parrotsmodel/PSOT.git
[submodule "models/encoder"]
	path = models/encoder
	url = git@gitlab.bj.sensetime.com:parrotsmodel/encoder.git
[submodule "models/mmocr_ctc"]
	path = models/mmocr_ctc
	url = git@gitlab.sz.sensetime.com:parrots.model/mmocr.git
[submodule "models/vision_transformer"]
	path = models/vision_transformer
	url = git@gitlab.sh.sensetime.com:parrots.model/vision_transformer.git
[submodule "models/objectflow2_mot"]
	path = models/objectflow2_mot
	url = git@gitlab.sh.sensetime.com:parrots.fit/objectflow2.git
[submodule "models/objectflow2_object"]
	path = models/objectflow2_object
	url = git@gitlab.bj.sensetime.com:parrots.fit/objectflow2_object.git
[submodule "models/objectflow2_child"]
	path = models/objectflow2_child
	url = git@gitlab.bj.sensetime.com:parrots.fit/objectflow2_child.git
[submodule "models/objectflow2_pet"]
	path = models/objectflow2_pet
	url = git@gitlab.bj.sensetime.com:parrots.fit/objectflow2_pet.git
[submodule "models/objectflow2_action"]
	path = models/objectflow2_action
	url = git@gitlab.sh.sensetime.com:parrots.fit/objectflow2.git
[submodule "models/sketch1.4"]
	path = models/sketch1.4
	url = git@gitlab.bj.sensetime.com:parrots.model/sketch.git
[submodule "models/transformer"]
	path = models/transformer
	url = https://github.com/ParrotsDL/parrots.example.git
	branch = camb_transformer
[submodule "models/bert"]
	path = models/bert
	url = https://github.com/ParrotsDL/parrots.example.git
	branch = camb_bert
[submodule "models/yolov3"]
	path = models/yolov3
	url = git@gitlab.bj.sensetime.com:jiangyongjiu1/yolov3.git
	branch = camb/dev/v1.0
[submodule "models/fairseq"]
	path = models/fairseq
	url = git@gitlab.bj.sensetime.com:jiangyongjiu1/fairseq-master.git
        branch = hl/dev
